/* Background styling */
body {
    background-color: black;
    background: url("../assets/bg-home.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
  
  /* Font styles */
  p, li, label, .timestamp {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 300;
  }
  h1 {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-bottom: 2px solid #fff;
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 0px;
  }
  
  /* Navbar element styling */
  .navbar-dark {
    background-image: linear-gradient(to right, rgba(0,0,0,1) , rgba(0,0,0,0.5));
    padding-bottom: 15px;
  }
  .navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 15px;
  }
  .active {
    border-bottom: 0.5px solid #fff;
  }
  
  /* Main page element styling */ 
  .content-box {
    background: rgba(0, 0, 0, 0.5);
    padding: 80px;
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .image-box {
    background: url("../assets/DP.jpg") no-repeat center center;
    position: relative;
    min-height: 510px;
  }
  
  /* Component styling */
  .btn-dark {
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 0px;
    padding: 10px 20px;
  }
  
  .caption {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.9);
    padding: 20px;
    width: 100%;
    font-size: 12px;
  }
  
  /* Form element styling */
  form {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 300;
    margin-bottom: 50px;
  }
  .form-control {
    background-color: rgba(0,0,0,0.7);
    border: 0px;
    border-radius: 0px;
    color: lightgray;
  }
    /* Password form-specific styling */
    .password-form {
      display: flex;
      align-items: center;
      margin: 20px 0px;
    }
    .password-form > .form-control {
      max-width: 20%;
      margin-left: 30px;
    }
    .password-row {
      color: white;
      margin-bottom: 10px;
    }

/* Day planner styling */
.planner-row {
  padding: 10px 10px;

  align-items: center;
}

.active-row {
  background-color: rgba(255, 255, 255, 0.5)
}

.future-row {
  background-color: rgba(255, 255, 255, 0.2)
}
  
  /* Main page element styling - xs */
  @media only screen and (max-width: 575px) {
    .content-box {
      padding: 40px;
      margin-top: 0px;
    }
    .navbar-dark {
      background-color: black;
      margin-top: 20px;
    }
  }

  
  input[type=checkbox] {
    margin-right: 0;
  }

  .result-container {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 12px 10px;
    height: 50px;
    width: 100%;
  }
  
  .result-container #result {
    word-wrap: break-word;
    max-width: calc(100% - 40px);
  }
  
  .setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
  }
  
  @media screen and (max-width: 400px) {
    .result-container {
      font-size: 14px;
    }
  }